# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
orders = pd.read_csv('orders.zip')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [21]:
total_spent = orders.groupby(['CustomerID'])['amount_spent'].sum()
total_spent

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [22]:
orders['Total spent'] = orders.groupby('CustomerID')['amount_spent'].transform('sum')
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,862.81
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,862.81
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,862.81
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,862.81
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,862.81

In [31]:
# VIP Customers -> Percentile 95
vip_threshold = np.percentile(total_spent, 95)
vip_threshold

5840.181999999983

In [41]:
vip_costumers = orders.loc[(orders['Total spent'] >= vip_threshold)]
vip_costumers

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total spent
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.0,7281.38
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.0,7281.38
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.0,7281.38
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.2,7281.38
30,30,536370,21883,2010,12,3,8,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.6,7281.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397883,541868,581584,85038,2011,12,5,12,6 chocolate love heart t-lights,48,2011-12-09 12:25:00,1.85,13777,United Kingdom,88.8,25977.16
397905,541890,581586,22061,2011,12,5,12,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,United Kingdom,23.6,12245.96
397906,541891,581586,23275,2011,12,5,12,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,United Kingdom,30.0,12245.96
397907,541892,581586,21217,2011,12,5,12,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,United Kingdom,214.8,12245.96
397908,541893,581586,20685,2011,12,5,12,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,United Kingdom,70.8,12245.96

In [42]:
vip_costumers.CustomerID.unique()

array([12583, 15311, 16029, 12431, 17511, 13408, 13767, 15513, 13694,
       14849, 16210, 12748, 12433, 14911, 17841, 13093, 12921, 13777,
       18229, 14606, 13576, 13090, 15694, 17017, 15601, 13418, 14060,
       17381, 17581, 15061, 15640, 14031, 12971, 13798, 17396, 14156,
       14680, 12557, 16013, 17949, 12682, 15769, 13081, 17243, 15465,
       13089, 16033, 18055, 18109, 16839, 16814, 12567, 16353, 14527,
       15023, 12472, 16422, 15502, 17677, 17428, 15039, 15078, 14667,
       15194, 17450, 12681, 17735, 15838, 14733, 13488, 17675, 18102,
       13078, 12709, 16779, 14796, 13199, 17706, 16525, 16558, 15498,
       14051, 16713, 13113, 12766, 15005, 14866, 17340, 18092, 15358,
       13319, 12621, 12683, 13854, 17857, 15856, 13102, 13969, 12471,
       12731, 16656, 14952, 12989, 17865, 16873, 14062, 16923, 12753,
       13668, 15044, 14505, 12540, 13225, 13209, 17338, 12476, 15159,
       13324, 14961, 14057, 14298, 17404, 14415, 13097, 13458, 15290,
       15615, 15482, 16705, 12980, 16746, 13534, 14735, 18223, 16684,
       12931, 14769, 17315, 12705, 14646, 13027, 12678, 17306, 13629,
       16532, 12415, 14258, 12939, 17811, 15189, 15749, 12359, 15939,
       17389, 12474, 16843, 12626, 13001, 14101, 12346, 13263, 12451,
       12637, 14088, 12744, 16133, 13098, 16523, 13709, 15144, 13881,
       16745, 16333, 13871, 14194, 12477, 16126, 14944, 13018, 15382,
       16182, 14895, 18172, 17139, 16187, 14056, 12428, 17416, 17107,
       13340, 14367, 14936, 16652, 15125, 12901, 12435, 16672, 13985,
       14607, 15249, 13316, 16180, 15251, 16729, 12590, 12757, 16446,
       12409, 15098, 12830, 12798, 14096, 17509, 12536, 12357, 18139,
       16000])

In [35]:
# VIP Customers -> Percentile 80
preferred_threshold = np.percentile(total_spent, 80)
preferred_threshold

2057.9139999999998

In [39]:
preferred_costumers = orders.loc[(orders['Total spent'] > preferred_threshold) & (orders['Total spent'] < vip_threshold)]
preferred_costumers

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397900,541885,581585,21684,2011,12,5,12,small medina stamped metal bowl,12,2011-12-09 12:31:00,0.85,15804,United Kingdom,10.20,4206.39
397901,541886,581585,22398,2011,12,5,12,magnets pack of 4 swallows,12,2011-12-09 12:31:00,0.39,15804,United Kingdom,4.68,4206.39
397902,541887,581585,23328,2011,12,5,12,set 6 school milk bottles in crate,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00,4206.39
397903,541888,581585,23145,2011,12,5,12,zinc t-light holder star large,12,2011-12-09 12:31:00,0.95,15804,United Kingdom,11.40,4206.39
397904,541889,581585,22466,2011,12,5,12,fairy tale cottage night light,12,2011-12-09 12:31:00,1.95,15804,United Kingdom,23.40,4206.39

In [40]:
preferred_costumers.CustomerID.unique()

array([17850, 13047, 15291, 14688, 17809, 17924, 13448, 16218, 14307,
       17920, 13758, 17377, 12662, 15485, 18144, 16456, 17346, 13468,
       16928, 14696, 17690, 17069, 15235, 15752, 13941, 14135, 14388,
       18041, 15955, 14390, 15544, 15738, 14180, 14466, 16186, 17685,
       17567, 17838, 17659, 15299, 17757, 14395, 15093, 13520, 12841,
       16905, 13013, 16477, 12600, 12779, 17954, 17819, 12712, 15373,
       17238, 12395, 13069, 16241, 14800, 15708, 16168, 16931, 13269,
       14810, 18118, 13831, 17059, 16327, 17211, 15570, 15808, 17858,
       16393, 17863, 17402, 12647, 15867, 15555, 16143, 12720, 12747,
       17965, 13174, 16161, 18219, 12708, 14189, 15301, 14825, 17596,
       14085, 16919, 16722, 16710, 15984, 17682, 16550, 17068, 15356,
       17191, 14409, 12913, 17091, 14907, 13756, 17491, 14282, 13769,
       16904, 13880, 12347, 14739, 16293, 17419, 17591, 12839, 13267,
       13050, 15628, 13599, 18077, 17406, 15750, 13983, 13842, 14032,
       16081, 17975, 13126, 15529, 17722, 15032, 17213, 18061, 18259,
       15298, 13523, 15581, 14766, 14030, 16700, 16011, 17655, 16717,
       14243, 12481, 14299, 12755, 16782, 12429, 14440, 15271, 15288,
       16255, 15811, 13327, 18225, 17576, 14713, 14702, 13230, 17530,
       15805, 17696, 16265, 14543, 16019, 18065, 13148, 14107, 15514,
       17220, 14159, 17188, 15547, 15998, 17937, 13198, 14290, 13999,
       15854, 16701, 17799, 14565, 14639, 17611, 17231, 14525, 18075,
       16458, 13178, 18044, 16191, 12370, 16556, 16553, 17739, 12867,
       14401, 16145, 16954, 17449, 17230, 16003, 13426, 13124, 12928,
       15727, 16607, 13317, 17001, 13021, 14841, 16670, 16985, 16743,
       15394, 15379, 14309, 14709, 17744, 16316, 14092, 14334, 16945,
       18260, 13004, 14560, 12782, 12417, 12726, 14016, 13869, 14146,
       12668, 16686, 18245, 14099, 12721, 15527, 18097, 15034, 17400,
       17593, 13953, 16875, 12957, 13680, 12483, 14732, 14221, 16771,
       15046, 13082, 18226, 15719, 17634, 18283, 15845, 14828, 12501,
       18198, 12484, 12480, 13183, 16326, 16735, 14755, 16549, 13451,
       12539, 12500, 12524, 16497, 16303, 15281, 15370, 12643, 17365,
       14209, 13784, 13862, 16655, 12437, 14040, 17364, 13993, 15687,
       12578, 12490, 12553, 14175, 15033, 14329, 16401, 13700, 15673,
       12388, 13527, 15696, 15296, 17730, 12356, 15606, 17602, 14572,
       16912, 12594, 17504, 12664, 16618, 12916, 17769, 15443, 13742,
       12727, 17861, 14439, 12625, 15179, 12935, 15797, 13901, 14257,
       15218, 13815, 18008, 14534, 14341, 14049, 14701, 16767, 14239,
       13552, 14659, 13141, 15365, 14502, 14426, 17314, 18145, 14776,
       16407, 15058, 16570, 12836, 13802, 15981, 15971, 16156, 15270,
       17071, 13394, 12502, 17672, 16938, 12754, 13137, 13911, 14842,
       17613, 13334, 14562, 17940, 17686, 18093, 18230, 15796, 15114,
       17512, 17050, 13381, 12455, 14530, 12653, 12352, 18257, 12362,
       15903, 15785, 14211, 15228, 12714, 15755, 18094, 15129, 15321,
       15065, 18087, 15722, 17442, 13285, 13804, 16940, 15932, 18231,
       14004, 15974, 13851, 12633, 13870, 16592, 13362, 13971, 16057,
       12598, 14227, 15874, 15676, 14676, 14292, 15416, 16678, 13722,
       15622, 17426, 16709, 17652, 17700, 13014, 12584, 14903, 15572,
       13344, 16242, 15834, 15764, 14407, 13908, 12758, 13975, 13373,
       16712, 17049, 14112, 14291, 15632, 18173, 14854, 14930, 13265,
       12520, 13654, 17164, 15671, 16871, 15150, 14226, 12597, 12955,
       17716, 13268, 18210, 13631, 14422, 17725, 15861, 14110, 16626,
       14315, 17133, 12948, 15140, 14408, 17272, 14711, 12613, 15410,
       14461, 15245, 16308, 17644, 14235, 12408, 15815, 13695, 13139,
       13266, 12669, 17719, 16253, 13588, 12456, 15521, 15674, 13988,
       15980, 13571, 12909, 12619, 13883, 16609, 12949, 14852, 12569,
       17758, 17669, 13015, 14546, 14535, 13771, 18272, 16209, 16837,
       13632, 15665, 14286, 12910, 17160, 14844, 14262, 17589, 16966,
       16131, 14482, 14163, 12457, 13952, 18079, 14700, 15491, 16628,
       13735, 16633, 12656, 14626, 14868, 12670, 13505, 17061, 14640,
       12840, 14191, 16258, 14515, 18241, 13365, 14145, 14005, 15704,
       12700, 16440, 17723, 18242, 14397, 12684, 12749, 14691, 13136,
       14277, 15187, 14364, 16076, 15123, 16818, 13658, 13555, 12360,
       15804, 12562, 18073, 13135, 12876, 12473, 13437, 12517, 13435,
       15152, 12449, 12380, 13115, 12406, 14132, 16107, 13517, 14503,
       13384, 17651, 17490, 17444, 14808, 12432, 12444, 12704, 12615,
       17768, 17386, 13895, 15505, 14493, 13224, 13994, 13507, 12560,
       16764, 14456, 16041, 12438, 12627, 12397, 15105, 17173, 16984,
       12378, 15089, 12610, 15786, 12688, 13644, 17183, 13949, 14360,
       12685, 17317, 14432, 15782, 16360, 13704, 18251, 17728, 14306,
       17434, 12752, 16379, 15484, 12906, 14125, 16240, 17131, 13536,
       12783, 16281, 17528, 13297, 13422, 12856, 13755, 13685, 17203,
       14121, 14251, 12454, 14547, 15113, 14554, 13471, 15993, 13868,
       17084, 17313, 15195])

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [44]:
vip_country = vip_costumers.groupby(['Country'])['CustomerID'].nunique().sort_values(ascending = False)
vip_country.head(1)

Country
United Kingdom    177
Name: CustomerID, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [50]:
tables = [preferred_costumers, vip_costumers]
result = pd.concat(tables)
result

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397883,541868,581584,85038,2011,12,5,12,6 chocolate love heart t-lights,48,2011-12-09 12:25:00,1.85,13777,United Kingdom,88.80,25977.16
397905,541890,581586,22061,2011,12,5,12,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,United Kingdom,23.60,12245.96
397906,541891,581586,23275,2011,12,5,12,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,United Kingdom,30.00,12245.96
397907,541892,581586,21217,2011,12,5,12,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,United Kingdom,214.80,12245.96
397908,541893,581586,20685,2011,12,5,12,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,United Kingdom,70.80,12245.96

In [51]:
super_country = result.groupby(['Country'])['CustomerID'].nunique().sort_values(ascending = False)
super_country.head(1)

Country
United Kingdom    737
Name: CustomerID, dtype: int64